{
    "singleQuote": false,
    "trailingComma": "es5",
    "semi": true,
    "endOfLine": "auto",
    "tabWidth": 4,
    "printWidth": 120,
    "plugins": [
        "@trivago/prettier-plugin-sort-imports"
    ],
    "importOrder": [
        "^@/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}